$first-color: #ffffff;
$second-color: #F7763E;
$third-color: linear-gradient(60deg,#2d3d5c,#64ba91);
$fourth-color: #868369;
$fifth-color: #62B790;
$sixth-color: #8695a6;
$seventh-color: #F97941;
$border-color: #ffffff70;
$eighth-color: #626e7b;
$ninth-color: #d8d8dc;
$tenth-color: linear-gradient(90deg, #324C63, #5FB08D);
$eleventh-color: #56606d;
$twelfth-color: #141731;
$thirteenth-color: #304761;
$fourteenth-color: #f5f5f5;
$fifteenth-color: #ff8049;
$sixteenth-color: #115B5C;