a {
    text-decoration: none;
    font-family: "ParallaxSSK", sans-serif;
    color: $first-color;
    font-size: 15px;
    letter-spacing: 1.3px;
    line-height: 0.8;
    font-weight: 600; 
  }
  
.landing-content {
    margin-top: 84px;
    margin-left: 67px;
    margin-right: 67px;
    color: $first-color;
    font-family: "ParallaxSSK", sans-serif;
}

.arrow {
  background-color: $first-color;
  width: 24px;
  height: 24px;
  border: 1px solid $first-color;
  border-radius: 50px;
  position: relative;
  margin-right: 75px;
  cursor: pointer;
  align-items: center;
}

.fa-solid{
  margin-top: -2px;
  margin-left: 8px;
  font-size: 13px;
  color: $second-color;
}

.reviews-content {
  flex-basis: calc(100% / 3 - 1.974rem);
  height: 400px;
  margin-bottom: 50px;
  border: 1px solid transparent;
  border-radius: 30px;
}  

.reviews-content-white {
  flex-basis: calc(100% / 3 - 1.974rem);
  height: 400px;
  margin-bottom: 45px;
  border: 1px solid transparent;
  background-color: $first-color;
  border-radius: 30px;
}