@import './config';
@import './utilities';

@font-face {
  font-family: "ParallaxSSK";
  src: local("Font\ParallaxSSK Bold.ttf"), 
  format("opentype"),format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.6em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #F7763E;
}

body {
  font-family: "ParallaxSSK", sans-serif;
}

.landing-section-wrapper {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(60deg,#2d3d5c,#64ba91);
  padding: 0 115px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 33px;
}

.navbar-logo{
  flex-basis: 57%;
  margin-top: 10px;
}

.navbar-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 75%;

  .navbar-items {
    display: flex;
    justify-content: space-between;
    font-family: "ParallaxSSK";
    margin-top: 10px;

    a {
      margin-right: 52px;
      position: relative;
    } 
    a:hover {
      margin-top: -4px;
      transition-duration: 0.2s;
    }
    
    a:after {
      content: "";
      position: absolute;
      left:0;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: $first-color;
      transition: width .3s ease-in-out;
      margin-top: 2px;
    }
    a:hover:after {
      width: 50%;
    } 
    a:before {
      content: "";
      position: absolute;
      right:0;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: $first-color;
      transition: width .3s ease-in-out;
      margin-top: 2px;
    }
    a:hover:before {
      width: 50%;
    } 
    
  }

  .navbar-signup {
    
    
    a {
      border: 1px solid $first-color;
      color: $first-color;
      background-color: transparent;
      border-radius: 10px;
      padding: 19px 30px;
      cursor: pointer;
    }
    /*background style */

    a {
      background: linear-gradient(transparent, transparent 50%, #ffffff 50%, #ffffff);
      background-size: 100% 200%;
      /*trasition effect for background*/
      transition: 0.5s;
      color: $first-color;
    }

    a:hover {
      background-position: 100% 100%;
      color: $fifth-color;
    }
  }  
}

.landing-content {
  display: flex;
  flex-direction: row;
}

.landing-content-subject {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.08rem;
    opacity: 70%;
    letter-spacing: 0.3px;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $first-color;
    background-color: #ffffff4d;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    font-size: 18px;
    letter-spacing: 0.95px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    margin-left: -65px;
    width: 445px;
    height: 92px;
    z-index: 1;
  }

  a {
    display: inline-flex;
    position: relative;
    width: 350px;
  }

  .button:after {
    content: "Join 5,5M SIGHT CLIENTS";
    position: absolute;
    transition: all 0.5s;
    top: 38px;
    text-transform: uppercase;
    margin-left: -70px;
  }

  .button:hover:after{
    top: -35px;
  }

  .button:before {
    content: "Join 5,5M SIGHT CLIENTS";
    position: absolute;
    transition: all 0.5s;
    bottom: -35px;
    text-transform: uppercase;
    margin-left: -70px;
  }

  .button:hover:before{
    bottom: 34px;
  }

  

    .arrow {
      background-color: $first-color;
      width: 26px;
      height: 24px;
      border: 1px solid $first-color;
      border-radius: 50px;
      position: relative;
      margin-right: 75px;
      cursor: pointer;
      align-items: center;
    }

    .fa-solid{
      margin-top: -2px;
      margin-left: 8px;
      font-size: 13px;
      color: $second-color;
    }

    .button:hover {
  
      .arrow{
        width: 28px;
        height: 27px;
      }

      .fa-solid {
        margin-left: 10px;
        margin-top: 6.5px;
      }
  
    }
  svg {
    z-index: 0;
    margin-top: -150px;
  }    
}

.content-subtitle {
  margin-top: 30px;

  h1 {
    font-size: 80px;
    line-height: 1.2;
  }
}

.orange-box {
  width: 635px;
  height: 600px;
  background-color: $second-color;
  border: 1px solid transparent;
  margin-left: -182px;
  margin-top: -140px;
  border-top-right-radius: 60px;
}

.landing-content-cards {
  margin-left: 100px;

  .first-card {
    margin-top: 155px;
    transform: rotate(40deg);
    position: relative;
    z-index: 1;
  }
  .second-card {
    margin-top: -75px;
    margin-left: 170px;
    transform: rotate(-20deg);
    position: relative;
  }
}