@import './config';
@import './utilities';

@font-face {
  font-family: "ParallaxSSK";
  src: local("Font\ParallaxSSK Bold.ttf"), 
  format("opentype"),format("woff");
}
@font-face {font-family: "Paralucent-Light";  src: url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.eot"); src: url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.woff") format("woff"), url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2e499581c93907487bb2dc8fd8a0ed8f.svg#Paralucent-Light") format("svg"); }

@font-face {font-family: "Sofia Pro Light"; src: url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.eot"); src: url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.woff") format("woff"), url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/dc6734899329fcbdd770b32dc47059d8.svg#Sofia Pro Light") format("svg"); }

@font-face {font-family: "Soleil Lt"; src: url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.eot"); src: url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.woff") format("woff"), url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d6059f0be7a553120dfdd5d6827b91ba.svg#Soleil Lt") format("svg"); }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.6em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #F7763E;
}

body {
  font-family: "ParallaxSSK",sans-serif;
}

.landing-section-wrapper {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(60deg,#2d3d5c,#64ba91);
  padding: 0 115px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 33px;
}

.navbar-logo{
  flex-basis: 57%;
  margin-top: 10px;
}

.navbar-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 75%;

  .navbar-items {
    display: flex;
    justify-content: space-between;
    font-family: "ParallaxSSK";
    margin-top: 10px;

    a {
      margin-right: 52px;
      position: relative;
    } 
    a:hover {
      margin-top: -4px;
      transition-duration: 0.2s;
    }
    
    a:after {
      content: "";
      position: absolute;
      left:0;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: $first-color;
      transition: width .3s ease-in-out;
      margin-top: 2px;
    }
    a:hover:after {
      width: 50%;
    } 
    a:before {
      content: "";
      position: absolute;
      right:0;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: $first-color;
      transition: width .3s ease-in-out;
      margin-top: 2px;
    }
    a:hover:before {
      width: 50%;
    } 
    
  }

  .navbar-signup {
    
    
    a {
      border: 1px solid $border-color;
      color: $first-color;
      background-color: transparent;
      border-radius: 10px;
      padding: 19px 30px;
      cursor: pointer;
    }
    /*background style */

    a {
      background: linear-gradient(transparent, transparent 50%, #ffffff 50%, #ffffff);
      background-size: 100% 200%;
      /*trasition effect for background*/
      transition: 0.5s;
      color: $first-color;
    }

    a:hover {
      background-position: 100% 100%;
      color: $fifth-color;
    }
  }  
}

.landing-content {
  display: flex;
  flex-direction: row;
}

.landing-content-subject {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.08rem;
    opacity: 70%;
    letter-spacing: 0.3px;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 20px;
    backdrop-filter: blur(70px);
    font-size: 18px;
    letter-spacing: 0.95px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    margin-left: -65px;
    width: 445px;
    height: 92px;
    z-index: 2;
  }

  a {
    display: inline-flex;
    position: relative;
    width: 350px;
    font-family: "Sofia Pro Light",sans-serif;
  }

  .button:after {
    content: "Join 5,5M SIGHT CLIENTS";
    position: absolute;
    font-family: "Sofia Pro Light",sans-serif;
    transition: all 0.5s;
    top: 38px;
    text-transform: uppercase;
    margin-left: -70px;
  }

  .button:hover:after{
    top: -35px;
  }

  .button:before {
    content: "Join 5,5M SIGHT CLIENTS";
    font-family: "Sofia Pro Light",sans-serif;
    position: absolute;
    transition: all 0.5s;
    bottom: -35px;
    text-transform: uppercase;
    margin-left: -70px;
  }

  .button:hover:before{
    bottom: 34px;
  }

    .button:hover {
  
      .arrow{
        width: 28px;
        height: 27px;
      }

      .fa-solid {
        margin-left: 10px;
        margin-top: 6.5px;
      }
  
    }
  svg {
    z-index: 1;
    margin-top: -150px;
    margin-left: -120px;
  }    
}

.content-subtitle {
  margin-top: 30px;

  h1 {
    font-size: 80px;
    line-height: 1.2;
    font-family: "Paralucent-Light",sans-serif;
  }
}

.orange-box {
  width: 628px;
  height: 712px;
  background-color: $seventh-color;
  border: 1px solid transparent;
  margin-left: -182px;
  margin-top: -140px;
  border-top-right-radius: 60px;
  position: relative;
}

.landing-content-cards {
  margin-left: 100px;

  .first-card {
    margin-top: 155px;
    transform: rotate(40deg);
    position: relative;
    z-index: 1;
  }
  .second-card {
    margin-top: -75px;
    margin-left: 170px;
    transform: rotate(-35deg);
    position: relative;
  }
}

.feature-and-brands {
  margin-left: 115px;
  margin-right: 115px;
  margin-top: -522px;
  margin-bottom: 140px;
}

.brands-tabs-box {
  width: 100%;
  background-color: $first-color;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 60px 60px;
  position: relative;
}

.brands-tabs-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  h3 {
    font-size: 38px;
    font-weight: 400;
    font-family: "Paralucent-Light",sans-serif;
  }

  p {
    color: $sixth-color;
    font-family: "Soleil Lt",sans-serif;
    font-size: 19px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    margin-left: -30px;
    margin-top: 5px;
  }

  .brand {
    .feature {
      font-size: 11px;
      color: $eighth-color;
      margin-left: 30px;
      margin-bottom: 28px;
    }
    .feature-svg {
      margin-right: 30px;
    }
  }
}

.brands-tabs-box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  border-top: 1px solid $ninth-color;
  padding-top: 50px;
  padding-left: 45px;
  padding-right: 80px;
  
  .border-box {
    width: 235px;
    height: 4px;
    background: $third-color;
    margin-top: -72px;
    margin-left: -45px;
    margin-bottom: 50px;
  }

  svg {
    cursor: pointer;
    fill: #d8d8dc;
    
    &:hover{
      fill: #141731!important;
    }  
  }

  div:first-child {
    border-top: 2px solid;
    border-image: linear-gradient(60deg,#2d3d5c,#64ba91);
  }
  
}

.about-us-section {
  margin-top: 290px;
  margin-bottom: 140px
}

.about-us-heading {
  display: flex;
  margin-bottom: 100px;
  margin-left: 180px;
  margin-right: 150px;
}

.about-heading-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  p{
    font-family: "Soleil Lt",sans-serif;
    font-size: 18px;
    color: $eleventh-color;
  }

  .button-box {
    border: 1px solid #00000026;
    width: 230px;
    height: 124px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 170px;
  }
  /* The animation code */
  .button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    margin-top: -100px;
    color: $first-color;
    border: 1px solid transparent;
    padding: 25px 23px;
    background: linear-gradient(60deg,#497a79,#5ca78a);
    border-radius: 20px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    animation-name: down;
    animation-duration: .5s;
    
    
    &:hover{
    animation-name: up;
    animation-duration: .5s;
    bottom:25px; 
    left: 25px;
    
      @keyframes up{
        0% {bottom: 0px; left: 0px;}
        100%{bottom:25px; left: 25px;}
      }
      @keyframes down{
        0%{bottom:25px; left: 25px;}
        100% {bottom: 0px; left: 0px;}
      }
    }

    a {
      font-family: "Soleil Lt",sans-serif;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 0px;
      line-height: 1.1;
    }
    .arrow {
      width: 22px;
      height: 22px;
      margin-left: 160px;
    }

    .fa-solid {
      color: #569884;
      margin-top: 4px;
      margin-left: 7px;
    }
  }  
}

.aboute-heading-right {
  margin-left: 195px;

  .about-title {
    color: $twelfth-color;
    font-size: 30px;
    font-family: "Paralucent-Light",sans-serif;
    font-weight: 500;
    margin-bottom: 60px;
    letter-spacing: 1.3px;
    line-height: 1.3;
  }

  p {
    color: $thirteenth-color;
    font-family: "Soleil Lt",sans-serif;
    margin-bottom: 25px;
    line-height: 1.5;
  }
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid transparent;
  width: 100%;
  padding: 0px 115px;
}  

.about-us-content-solid {
  flex-basis: calc(100% / 3 - 1.974rem);
  height: 400px;
  margin-bottom: 45px;
  border-radius: 30px;
}

.about-us-content-img {
  flex-basis: calc(100% / 3 - 1.8rem);
  height: 400px;
  margin-bottom: 45px;
  display: flex;
  border-radius: 30px;
  background-color: $fourteenth-color;
  position: relative;
  
  svg {
    margin-left: -62px;
    margin-top: 60px;
    overflow: hidden;
    box-shadow: -4px 5px 2.5rem 0 hsl(0deg 0% 67% / 20%);
  }

  img{
    width: 400px;
    margin-left: -105px;
    cursor: pointer;
    
    &:hover{
      width: 360px;
      transition: .5s;
      margin-top: 40px;
      margin-left: -90px;
    } 
  }

  .arrow-up-right {
    background-color: $fourteenth-color;
    fill: $twelfth-color;
    margin-top: 20px;
    position: absolute;
    right: 20px;
    overflow: hidden;
  }
}

.about-us-content-svg {
  flex-basis: calc(100% / 3 - 1.974rem);
  height: 400px;
  margin-bottom: 45px;
  border-radius: 30px;
  position: relative;

  .txt{
    font-family: "Paralucent-Light",sans-serif;
    font-size: 30px;
    color: $twelfth-color;
    margin-top: -230px;
    margin-left: 140px;
  }

  a {
    position: absolute;
  }

  img {
    width: 37px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $fifteenth-color;
    margin-left: 282px;
    margin-top: -100px;
    position: absolute;
  }
  .arrow-up-right{
    fill: $first-color;
    position: absolute;
    top: 20px;
    right: 25px;
  }
}

.about-us-content-svg-two {
  .svg-two-card {
    position: relative;

    .txt{
    font-family: "Paralucent-Light",
    sans-serif;
    font-size: 22px;
    color: $first-color;
    }

    .amount{
      margin-top: -245px;
      margin-left: 100px;
    }
    .percent{
      color: $twelfth-color;
      margin-top: 75px;
      margin-left: 180px;
    }
    .income{
      margin-top: 100px;
      margin-left: 95px;
    }
    .spent{
      margin-top: -18px;
      margin-left: 228px;
    }
    .arrow-up-right {
      position: absolute;
      margin-top: -365px;
      margin-left: 350px;
    }
  }
  div {
    margin-top: 55px;
    margin-left: 40px;
    h4 {
      font-family: "Paralucent-Light",
      sans-serif;
      font-size: 23px;
      color: $twelfth-color;
      letter-spacing: 0.8px;
      margin-bottom: 11px;
    }
    p{
      font-family: "Soleil Lt",sans-serif;
      color: $thirteenth-color;
      letter-spacing: 0px;
      font-weight: 300;
    }
  }  
}

.about-us-content-solid{
  padding-left: 39px;

  h4 {
    font-family: "Paralucent-Light",
    sans-serif;
    font-size: 23px;
    color: $twelfth-color;
    letter-spacing: 0.8px;
    margin-bottom: 11px;
  }
  p{
    font-family: "Soleil Lt",sans-serif;
    color: $thirteenth-color;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 300;
  }
}

.about-us-content-img-two{
  flex-basis: calc(100% / 3 - 1.8rem);
  height: 400px;
  margin-bottom: 45px;
  position: relative;
  border-radius: 30px;
  background-color: $fourteenth-color;

  .connector{
    position: absolute;
    margin-top: -119px;
    margin-left: -117px;
  }

  a {
    svg{
      margin-top: 271px;
      margin-left: -98px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

    img {
      position: absolute;
      width: 400px;
      margin-left: -65px;
      animation-name: out;
      animation-duration: 0.5s;

      &:hover{
        animation-name: in;
        animation-duration: 0.5s;
        width: 350px;
        transition: all .5s;
        margin-top: 50px;
        margin-left: -30px;
        margin-right: 30px;
        transition-timing-function: ease-in;
      }
       /* The animation code */

      @keyframes in{
        0% {width: 400px;margin-top: 0px; margin-left: -65px;margin-right: 0px;}
        100% {width: 350px;margin-top: 50px; margin-left: -30px; margin-right: 30px;}
      }
      @keyframes out{
        0% {width: 350px;margin-top: 50px; margin-left: -30px; margin-right: 30px;}
        100% {width: 400px;margin-top: 0px; margin-left: -65;margin-right: 0px;}
        
      }
    }

    .arrow-up-right{
      position: absolute;
      margin-top: 20px;
      margin-left: 285px;
    }
  }

  div{
    margin-top: 100px;
    margin-left: 45px;
    h4 {
      font-family: "Paralucent-Light",
      sans-serif;
      font-size: 23px;
      color: $twelfth-color;
      letter-spacing: 0.8px;
      margin-bottom: 11px;
    }
    p{
      font-family: "Soleil Lt",sans-serif;
      color: $thirteenth-color;
      font-size: 18px;
      letter-spacing: 0px;
      font-weight: 300;
    }
  }  
}

.features-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.features {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $fifteenth-color;
  margin-top: 10px;
}

.features-txt {
  border-left: 3px solid #FFA680;
  margin-top: 150px;
  margin-left: 88px;
  margin-right: 75px;
  margin-bottom: 140px;

  .feature-title { 
    border-left: 3px solid $first-color;
    margin-left: -3px;
    margin-bottom: 40px;

    h3 {
    color: $first-color;
    font-family: "Paralucent-Light",sans-serif;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 1px;
    margin-left: 45px;
    }
  }

  p {
    color: $first-color;
    font-family: "Soleil Lt",sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-left: 45px;
    margin-bottom: 38px;
  }

  div {
    display: flex; 

    .avatars {
      margin-left: 60px;
      margin-right: 20px;
    }
    .features-button {
      font-family: "Soleil Lt",sans-serif;
      font-size: 16px;
      line-height: 24px;
      margin-top: 15px;
      position: relative;

      .fa-arrow-right {
        margin-left: 0px;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.2s;
        // animation-name: right;
        // animation-duration: 0.2;
        
        .fa-arrow-right:before{
          content: "\f061";
          position: absolute;
          transition: 0.2s;
          margin-top: -10px;
        }

        &:hover:before{
          margin-left: 20px;
        }
        
        .fa-arrow-right:after{
          content: "\f061";
          position: absolute;
          margin-left: -20px;
        }
      }
    }
  }
}

.features-img {
  display: flex;
  flex-basis: 65%;
  background-color: $sixteenth-color;
  padding-top: 105px;
  border-top-left-radius: 35px;

  div {
    display: flex;
    border: 1px solid $sixteenth-color;
    background-image: linear-gradient(90deg, #619293, #2F7071);;
    border-radius: 15px;
    width: 114px;
    height: 114px;
    margin-top: -60px;
    margin-left: -58px;

      a {
        display: flex;
        flex-direction: column;

        .border{
          border: 1px solid $sixteenth-color;
          background: $sixteenth-color;
          height: 57px;
          width: 57px;
          margin-top: -93px;
          margin-left: -2px;
        }
        .border-two{
          border: 1px solid $sixteenth-color;
          background: $sixteenth-color;
          height: 57px;
          width: 57px;
          margin-top: 18px;
          margin-left: 2px;
        }
        .credit-card {
          margin-top: 74px;
          margin-left: 16px;
        }
        .star {
          margin-top: 16px;
          margin-left: 33px;
        }

      }  
    

    
  }
  
  img {
    width: 840px;
    margin-left: 55px;
  }
}

.mobile-app-section {
  display: flex;
  justify-content: space-between;
  margin-top: 148px;
  padding: 0px 116px;
}

.mobile-app-subject {
  flex-basis: calc(100% / 3);
  padding-right: 100px;
  p {
    font-family: "Soleil Lt",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: $thirteenth-color;
    margin-bottom: 10px;
  }
  h2 {
    font-family: "Paralucent-Light",sans-serif;
    font-size: 47px;
    line-height: 58px;
    color: $twelfth-color;
  }
}

.mobile-app-describtion {
  flex-basis: calc(100% / 3);
  padding: 0px 80px;

  p {
    font-family: "Soleil Lt",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: $thirteenth-color;
  }
  .button-box {
    border: 1px solid #00000026;
    width: 230px;
    height: 124px;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 62px;
  }
  /* The animation code */
  .button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    margin-top: -100px;
    color: $first-color;
    border: 1px solid transparent;
    padding: 25px 23px;
    background: linear-gradient(60deg,#497a79,#5ca78a);
    border-radius: 20px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    animation-name: down;
    animation-duration: .5s;
    
    
    &:hover{
    animation-name: up;
    animation-duration: .5s;
    bottom:25px; 
    left: 25px;
    
      @keyframes up{
        0% {bottom: 0px; left: 0px;}
        100%{bottom:25px; left: 25px;}
      }
      @keyframes down{
        0%{bottom:25px; left: 25px;}
        100% {bottom: 0px; left: 0px;}
      }
    }

    a {
      font-family: "Soleil Lt",sans-serif;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 0px;
      line-height: 1.1;
    }
    .arrow {
      width: 22px;
      height: 22px;
      margin-left: 160px;
    }

    .fa-solid {
      color: #569884;
      margin-top: 4px;
      margin-left: 7px;
    }
  }  

}

.mobile-app-img {
  flex-basis: calc(100% / 3);
  padding-left: 32px;
  margin-top: -5px;
  display: flex;

  .img-small{
    width: 31px;
    height: 31px;
    border: 1px solid transparent;
    border-radius: 50%;
    background: $fifth-color;
    margin-left: -126px;
    margin-top: 107px;
  }

  .txt {
    font-family: "Paralucent-Light",sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: $twelfth-color;
    margin-left: -163px;
    margin-top: 160px;
    font-weight: 600;
  }
}

.run-line-section {
  overflow-x: scroll;
  margin-top: 145px;
  border-top: 1px solid $seventeenth-color;
  border-bottom: 1px solid $seventeenth-color;
  padding-top: 5px;
  
}

.run-line-section::-webkit-scrollbar {
  width: 0.6em;
}

.services-section {
  margin-top: 146px;
  margin-left: 120px;
  margin-right: 80px;
  margin-bottom: 140px;
}

.services-heading{
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 85px;
}

.services-heading-left {
  font-family: "Soleil Lt",sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: $thirteenth-color;
}

.services-heading-right {
  margin-left: 368px;
  margin-top: -6px;
  margin-right: 40px;

  h2 {
    font-family: "Paralucent-Light",sans-serif;
    font-size: 46px;
    line-height: 58px;
    letter-spacing: 1px;
    color: $twelfth-color;
    margin-bottom: 65px;
  }
  p {
    font-family: "Soleil Lt",sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: $thirteenth-color;
  }
}

.services-content {
  display: flex;
  justify-content: space-between;

  .services-content-left {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 120px;

    div{
      margin-bottom: 5px;

      .services-icon {
        width: 65px;
        height: 65px;
        border: 1px solid $fifteenth-color;
        border-radius: 15px;
        background-color: $fifteenth-color;
        margin-bottom: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .services-icon-three {
        width: 65px;
        height: 65px;
        border: 1px solid $fifteenth-color;
        border-radius: 15px;
        background-color: $fifteenth-color;
        margin-bottom: 28px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 12px 15px;

        .icon-one {
          width: 6px;
          border: 1px solid  transparent;
          border-radius: 2px;
          height: 38%;
          background-color: $first-color;
        }
        .icon-two {
          width: 6px;
          border: 1px solid  transparent;
          border-radius: 2px;
          height: 60%;
          background-color: $first-color;
        }
        .icon-three {
          width: 6px;
          border: 1px solid  transparent;
          border-radius: 2px;
          height: 50%;
          background-color: $first-color;
        }
      }

      h4 {
        font-family: "Paralucent-Light",sans-serif;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 1px;
        color: $twelfth-color;
        margin-bottom: 13px;
      }
      
      p {
        font-family: "Soleil Lt",sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: $thirteenth-color;
        opacity: 0.75;
      }
    }  
  }

  .services-content-right {
    flex-basis: 65%;
    margin-right: 35px;
    position: relative;

    img {
      border: 1px solid transparent;
      border-radius: 30px;
    }
    a {
      
      h3 {
        font-family: "Paralucent-Light",sans-serif;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 1px;
        color: $twelfth-color;
        border: 1px solid transparent;
        background-color: $first-color;
        border-radius: 30px;
        padding: 50px 50px;
        position: absolute;
        right: 0px;
        margin-top: -195px;
      }

      .corner-top {
        right: 0px;
        bottom: 194px;
        position: absolute;
        z-index: 1;
      }
      .corner-top-two {
        right: 0px;
        bottom: 162px;
        position: absolute;
        z-index: 1;
        rotate: 270deg;
      }
      .corner-bottom {
        right: 398px;
        bottom: 4px;
        position: absolute;
        z-index: 1;
      }
      .corner-bottom-two {
        right: 367px;
        bottom: 4px;
        position: absolute;
        z-index: 1;
        rotate: 90deg;
      }
      .arrow-up-right {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 85px;
        bottom: 60px;
      }
    }
  }
}

.reviews-section {
  background: linear-gradient(20deg,#24305a,#69c895);
}

.reviews-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 143px 115px;
  padding-top: 143px;
  padding-left: 115px;
  padding-right: 115px;
  padding-bottom: 100px;
  position: relative; 

  .reviews-orange-box {
    width: 263px;
    height: 322px;
    border: 1px solid transparent;
    background-image: linear-gradient(180deg,#ff8049,#f37038);
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 60px;
  }

  .background-transparent{
    display: flex;
    flex-direction: column;

    .heart {
      border: 1px solid transparent;
      background-color: transparent;
      backdrop-filter: blur(70px);
      border-radius: 15px;
      padding: 10px;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      margin-left: -80px;
      margin-top: 64px;

      svg {
        fill: #ffffff;
      }
    }
    .txt {
      margin-top: -118px;
      padding: 63px;

      p {
        font-family: "Soleil Lt",sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        color: $first-color;
        margin-bottom: 8px;
      }
      h2 {
        font-family: "Paralucent-Light",sans-serif;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 1px;
        color: $first-color;
      }
    } 
  } 
  .background-transparent-two {
    margin-top: -15px;

    
    img {
      border: 1px solid transparent;
      border-radius: 30px;
      margin-left: 200px;
      margin-top: -230px;
    }
    p {
      font-family: "Soleil Lt",sans-serif;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
      color: $first-color;
      margin-bottom: 8px;
      text-align: left;
      margin-top: 120px;
      padding-left: 65px;
      padding-right: 40px;
    }
  } 
}

.reviews-content-white {
  height: 405px;
  svg {
    margin-top: -121px;
    margin-left: -119px;
  }
  .background-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    margin-top: -73px;
    z-index: 1;

    img {
      width: 82px;
      height: 80px;
      padding-top: 8px;
      border: 1px solid transparent;
      border-radius: 50%;
      background-color: $fifteenth-color;
      margin-bottom: 45px;
    }
    p {
      font-family: "Soleil Lt",sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: $thirteenth-color;
      text-align: center;
      margin-bottom: 45px;
    }
    div {
      display: flex;
      justify-content: space-around;
      
    
      svg {    
        margin-top: -10px;
        margin-left: -8px;
        margin-right: 5px;
        fill: $eighteenth-color;
      }
      p {
        color: $twelfth-color;
        font-weight: 600;
      }
      .line {
        width: 1px;
        height: 32px;
        margin-right: 24px;
        margin-left: 24px;
        background-color: $seventeenth-color;
      }
    }
  }

  .background-white-two {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-top: 55px;
    padding-left: 62px;
    padding-right: 62px;

    h3 {
      font-family: "Paralucent-Light",sans-serif;
      font-size: 37px;
      line-height: 44px;
      letter-spacing: 1px;
      color: $twelfth-color;
      margin-bottom: 25px;
    }

    .input {
      height: 50px;
      margin-bottom: 12px;
      border: 1px solid transparent;
      border-bottom: 1px solid $seventeenth-color;
      color: $thirteenth-color;
      font-family: "Soleil Lt",sans-serif;
      font-size: 18px;
      line-height: 26px;
    }
    .send-button {
      margin-top: 47px;
      a {
      border: 1px solid transparent;
      color: $first-color;
      background-color: transparent;
      border-radius: 10px;
      padding: 20px 58px;
      cursor: pointer;
    }
    /*background style */

    a {
      background: linear-gradient(#233053, #233053 50%, #ff8049 50%, #ff8049);
      background-size: 100% 200%;
      /*trasition effect for background*/
      transition: 0.5s;
      color: $first-color;
    }

    a:hover {
      background-position: 100% 100%;
      color: $first-color;
    }
    }
  }
}

